<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Book Details')}"></head>

<body>

<h2>Book Details</h2>
<hr>

<table border="1">

	<tr>
		<td>Title</td>
		<td th:text = "${book.title}"></td>
	</tr>
	
	<tr>
		<td>Author</td>
		<td th:text = "${book.author}"></td>
	</tr>
	
	<tr>
		<td>ISBN</td>
		<td th:text = "${book.isbn}"></td>
	</tr>
	
	<tr>
		<td>Publication Year</td>
		<td th:text = "${book.publicationYear}"></td>
	</tr>
	
	<tr>
		<td>Title</td>
		<td th:text = "${book.available ? 'Yes' : 'No'}"></td>
	</tr>

</table>

<br>

<a th:href = "@{/books/edit/{bookId}(bookId=${book.id})}">Edit Book Details</a>
|
<a th:href = "@{/books}">Back to Book List</a>
</body>
</html>