<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Book</title>
</head>
<body>

<h2> Edit Book</h2>

<hr>

<form th:action = "@{/books/update/{bookId}(bookId=${editBook.id})}"
	  th:object = "${editBook}"
	  method = "post">

<table>

<tr>
	<td>Title</td>
	<td><input type="text" th:field="*{title}"></td>
</tr>

<tr>
	<td>Author</td>
	<td><input type="text" th:field="*{author}"></td>
</tr>
	
<tr>
	<td>ISBN</td>
	<td><input type="text" th:field="*{isbn}"></td>
</tr>

<tr>
	<td>Publication Year</td>
	<td><input type="number" th:field="*{publicationYear}"></td>
</tr>

<tr>
	<td>Available</td>
	<td><input type="checkbox" th:field="*{available}"></td>
</tr>
<tr>
<td colspan="2">

<button type="submit">
	Update Book
</button>

<a th:href="@{/books}">
	Cancel
</a>

</td>
</tr>
</table>	  
</form>
</body>
</html>